<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="card-header-image"></div>
    <mat-card-title>Lara Leones</mat-card-title>
    <mat-card-subtitle>@thewallart</mat-card-subtitle>
  </mat-card-header>
  <p style="margin-left: 20px;">It is a long esablished fact that a reader will be distracted by the readable content of
    a page when looking at its layout.<span style="color: #FF5E8A;"> Read More</span></p>
  <img mat-card-image src="./assets/card-photo.png" class="card-img">

  <mat-card-actions class="action-icon">
    <img src="./assets/heart.png" class="icon-styling" />
    <p style="padding-left: 10px;">9.8k</p>

    <img src="./assets/message.png" class="icon-styling" />
    <p style="padding-left: 10px;">8.6k</p>

    <img src="./assets/share.png" class="icon-styling" />
    <p style="margin-left: 5px;">7.2k</p>
  </mat-card-actions>
</mat-card>

<!-- card 2 -->
<mat-card class="card2">
  <mat-card-header>
    <div mat-card-avatar class="card-header-image"></div>
    <mat-card-title>Lara Leones</mat-card-title>
    <mat-card-subtitle>@thewallart</mat-card-subtitle>
  </mat-card-header>
  <p style="margin-left: 20px;">It is a long established fact that a reader will be distracted by the readable content
    of a page when looking at its layout.<span style="color: #FF5E8A;"> Read More</span></p>
  <img mat-card-image src="./assets/background2.png" class="card-img">

  <mat-card-actions class="action-icon">
    <img src="./assets/heart.png" class="icon-styling" />
    <p style="padding-left: 10px;">9.8k</p>

    <img src="./assets/message.png" class="icon-styling" />
    <p style="padding-left: 10px;">8.6k</p>

    <img src="./assets/share.png" class="icon-styling" />
    <p style="margin-left: 5px;">7.2k</p>
  </mat-card-actions>
</mat-card>


<!-- card 3 -->

<mat-card class="card3">
  <div style="margin-left: 30px;">
    <img src="./assets/background1.png">
    <p> Modern Wall Decor Framed Painting</p>
    <span>$199.99 <img src="./assets/star.png" style="margin-left: 100px;" /><img src="./assets/star.png" /> <img
        src="./assets/star.png" /> <img src="./assets/star.png" /></span>
  </div>

  <div style="margin-left: 30px;">
    <img src="./assets/background2.png">
    <p> Modern Wall Decor Framed Painting</p>
    <span>$199.99 <img src="./assets/star.png" style="margin-left: 100px;" /><img src="./assets/star.png" /> <img
        src="./assets/star.png" /> <img src="./assets/star.png" /></span>
  </div>

  <div style="margin-left: 30px;">
    <img src="./assets/background1.png" style="height: 120px;
    width: 35px;">
    <p> Modern </p>
    <span style="padding-top: 20px;"><img src="./assets/star.png" /><img src="./assets/star.png" /> <img
        src="./assets/star.png" /> </span>
  </div>

</mat-card>